# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*.sw[a-zA-Z]
.byebug_history
.DS_Store

dump.rdb

# Don't check in your environment variables
.env

# Ignore node modules
/node_modules/

# IDEs anyone?
.idea/
/.fasterer.yml
/.rubocop.yml
/.scss-lint.yml
/config/rails_best_practices.yml

# Code report coverage
/coverage/*
!/coverage/.last_run.json
